/* styles/HomePage.css */


.container {
    width: 100%; /* Ensure full width */
    position: relative;
    overflow: hidden; /* Hide overflow content */
  }

  .video-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  


  
  
  
 