/* Styles/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; /* Background color for navbar */
    padding: 10px 20px; /* Adjust padding as needed */
  }

.navbar img {
    height: 60px; /* Set the height of the logo */
    width: 100px; /* Maintain aspect ratio */
  }
  
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
.navbar ul li {
    margin: 0;
    padding: 0;
  }
  
.navbar ul li a {
    color: white;
    text-decoration: none;
  }