.box {
    padding: 100px; /* Adjust the padding size as needed */
    border: 1px solid #FFF; /* Add border */
    border-radius: 5px; /* Add rounded corners */
    margin-top: 50px;
  }

  .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff; /* Text color */
    text-align: center; /* Text alignment */
    padding: 100px; /* Padding around the content */
    font-size: 24px; /* Font size of the content */
    font-family: Arial, sans-serif; /* Font family of the content */
  }